* {
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  color: white;
}

md-divider { 
  border-color: white;
}

md-content {
  width: 350px;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

.font-large {
  font-size: 40px;
}

.font-small {
  font-size: 10px;
}

.middle-content {
  margin-top: 130px;
  margin-bottom: 50px;
}

.custom-card {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  cursor: pointer
}

.custom-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.custom-card .md-card-image {
  max-height: 160px;
}

.custom-card md-card-content * {
  color: rgb(140,158,255); /*Manually set to BG color*/
}
