* {
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  color: white;
}

md-content {
  width: 350px;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

.font-large {
  font-size: 40px;
}

.font-small {
  font-size: 10px;
}

/*.event-card {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  background-color: #FFF;
  color: #FC861E;
  padding: 10px;
  text-align: none !important;
}*/
