* {
 font-family: 'Montserrat', sans-serif; 
 color: #FFF;
 background-color: #FC861E;
}

body {
  width: 350px;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header {
  text-align: center;
}
