<!DOCTYPE html>
<html ng-app="EventbriteApp" ng-csp>

  <head>
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/resources/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>
    <div ng-controller="MainController">
      <div class="header">
        <h1>Event Now</h1>
      </div>
      <div class="content-wrapper">

        <div class="spinner"  ng-if="userPosition == null">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>

        <div ng-if="userPosition != null">
          Your position is: {{userPosition.coords.latitude}} {{userPosition.coords.longitude}}
        </div>

      </div>
      <div class="footer">
        Created by Sameer Chitley
      </div>
    </div>
  </body>

</html>
